:root {
    --background-primary: #000000;
    --background-secondary: #000000;
    --text-primary: #ffffff;
    --text-secondary: #a0a0a0;
    --text-light: #ffffff;
    --border-color: #2c2c2c;
    --color-primary: #001aff;
    --color-primary-dark: #0400da;
    --color-positive: #4caf50;
    --color-negative: #f44336;
    --color-neutral: #ffc107;
  }
  
  